.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ilb {
  display: inline-block;
}

.login-form input
{
  margin-bottom: 1em;
  width: 10em;
}

.center {
  text-align: center;
}

.job-list .card
{
  margin-bottom: 1em;
}

.margin-right {
  margin-right: 0.5em;
}

.margin-left {
  margin-left: 0.5em; 
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.alr {
  text-align: right;
}

.strong {
  font-weight: bold;
}

.width-100
{
  width: 100%;
}

.clickable
{
  cursor: pointer;
}

.thin-button, .thin-button button {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}